@media only screen and (min-width: 1200px) {
  .product-container {
    height: 100vh;
    margin: 20px;
    flex: 3;
  }

  .top-section {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}
